@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

/* reset */
*{
	font-family: 'Courier Prime', monospace;
	margin: 0;
	padding: 0;
}

html{
	font-size: 62.5%;
	min-height: 100%;
	position: relative;
}

body{
	background-color: #e2dad8;
	min-height: 100%;
	width: 100%;
}

.navbar{
	padding: 10px 20px;
	background-color: #D8CCC9;
}
.container-fluid{
	padding: 0;
}
	nav div a,
	nav div img{
		width: 60px;
	}
	.logo-div{
		position: relative;
		width: 60px;
		height: 55px;
	}
		.logo-div .logo-front{
			position: absolute;
			width: 60px;
			height: 55px;
			top: 0;
			left: 0;
			opacity: 0;
			transition: opacity .5s ease-in-out;
		}
			.logo-div .logo-front:hover{
				opacity: 1;
			}

	.list{
		width: 40%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	nav ul{
		font-family: 'Courier Prime', monospace;
		list-style: none;
		display: flex;
    	justify-content: space-between;
		margin-bottom: 0;
		padding-left: 0;
	}
 
		nav ul li{
			transform: scale(1.0);
			transition: transform .5s;
		}
		nav ul li:hover{
			transform: scale(1.05);
			transition: transform .5s;
		}

			nav ul li a{
				color: #5A5453;
				text-decoration: none;
				font-size: 2.2rem;
			}

			nav ul li a:hover{
				color: #363433;
				font-weight: 600;
			}	

header{
	line-height: 0;
}
	header img{
		width: 100%;
	}

footer{
	background: #363433;
	width: 100%;
	bottom: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.title{
	color: #363433;
	font-size: 3rem;
	font-weight: 600;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}

.background{
	background-image: url(../img/cactustrame.png);
}

/*======== GRID Home ========*/
#imgHome{
	grid-area: imgHome;
}

#asideHome{
	grid-area: asideHome;
}

#mainHome{
	grid-area: mainHome;
	width: 35%;
	height: 100%;
}

/*======== GRID Shop ========*/
#navShop{
	grid-area: navShop;
}

#headerShop{
	grid-area: headerShop;
}

#asideShop{
	grid-area: asideShop;
}

#mainShop{
	grid-area: mainShop;
}

#footerShop{
	grid-area: footerShop;
}

/*======== GRID Contact ========*/
#asideContact{
	grid-area: asideContact;
}

#mainContact{
	grid-area: mainContact;
}

/*=========== home ===========*/
.bgHome{
	background-image: url(../img/CactusJackImagenHero.jpeg);
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 100vh;
	padding: 100px 30px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.tour{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 35%;
}
	.tour h2{
		width: 100%;
		text-align: center;
		font-size: 2.5rem;
		font-weight: 600;
	}
	.tour div{
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		height: auto;
		padding: 10px;
		margin-bottom: 5px;
		background: #363433;
		color: #e2dad8;
		font-size: 1.2rem;
	}
		.tour div a{
			color: #e2dad8;
			text-decoration-line: none;
		}

.date{
	width: 15%;
	margin-bottom: 0;
}
.country{
	width: 35%;
	margin-bottom: 0;
}
.shows{
	width: 38%;
	margin-bottom: 0;
}
.tickets{
	width: 12%;
	text-align: right;
	margin-bottom: 0;
}

.offcanvas {
	--bs-offcanvas-bg: none;
	padding-left:35px;
	justify-content: center;
}
.offcanvas-header{
	display: flex;
	justify-content: flex-end;
}

.offcanvas-body {
    display: flex;
    align-items: center;
    flex-grow: 0;
}

.offcanvas.offcanvas-start {
    width: 35%;
    border-right: none;
}

.offcanvas-backdrop.show {
	width: 100%;
	margin-bottom: 0;
	background-color: rgb(0, 0, 0, .6);
	opacity: 1;
	backdrop-filter: blur(3rem);
}

.btn-close {
	background-color: #FFFFFF;
}

.div-btn{
	height: 100%;
	display: flex;
	align-items: center;
}

.btn:hover {
    background-color: rgb(0, 0, 0, .15);
}

.btn:focus {
    background-color: rgb(0, 0, 0, .1);
}

.btn-history{
	height: 100%;
	border: none !important;
	background: rgb(0, 0, 0, .1);
}

.containerText{
	display: flex;
	flex-wrap: wrap;
}
	.containerText h1{
		color: #FFFFFF;
		font-size: 2.6rem;
		font-weight: 600;
		letter-spacing: 1.2rem;
	}

.textHistory{
	color: #FFFFFF;
	width: 100%;
	font-size: 1.7rem;
	text-align: left;
}

.homeFooter{
	position: relative;
}

/*======== ends home ========*/

/*=========== shop ===========*/
/*--- grid shop ---*/
.contenedorShop{
	display: grid;
	grid-template-columns: 15% 85%;
	grid-template-rows: auto;
	grid-template-areas:
	"navShop navShop"
	"headerShop headerShop"
	"asideShop mainShop"
	"footerShop footerShop";
}
/*- ends grid shop -*/

.containerShop{
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-evenly;
}

.aside{
	width: 100%;
	padding-top: 130px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
	.asideForm{
		width: 75%;
		display: flex;
		flex-direction: column;
	}
		.asideForm b{
		width: 100%;
		font-size: 2rem;
		}
			.asideForm form{
				font-size: 1.7rem;
			}

.form-check .form-check-input{
    background-color: #e2dad8;
    border-color: #363433;
}
		
/* shoes */
	.shoes{
		width: 30%;
		margin: 0 10px 100px 10px;
		transform: scale(1.0);
		transition: transform 0.8s;
	}

	.shoes:hover{
		transform: scale(1.05);
		transition: transform 0.8s;
	}

	.imgShoes{
		display: block;
		width: 100%;
		border-top-right-radius: 15px;
		border-top-left-radius: 15px;
	}

	.backgroundText{
		background: #363433;
		padding: 10px;
		border-bottom-right-radius: 15px;
		border-bottom-left-radius: 15px;
	}

	.titleCard{
		font-size: 2.3rem;
		font-weight: 500;
		color: #e2dad8;
	}

	.subtitle{
		font-size: 1.7rem;
		font-weight: 500;
		color: #D8CCC9;
	}

	.price{
		padding-top: 10px;
		font-size: 2rem;
		font-weight: 500;
		color: #e2dad8;
	}


	/* tshirts */
	.containerTshirt{
		display: flex;
		flex-wrap: wrap;
		align-content: center;
		justify-content: space-around;
	}	
	.tshirt{
		width: 30%;
		margin: 0 10px 100px 10px;
		transform: scale(1.0);
		transition: transform 0.8s;
	}

	.tshirt:hover{
		transform: scale(1.05);
		transition: transform 0.8s;
	}

	.imgTshirt{
		display: block;
		width: 100%;
		border-top-right-radius: 15px;
		border-top-left-radius: 15px;
	}
/*========= ends shop =========*/

/*=========== music ===========*/
.container-albums{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-evenly;
}

.album{
	width: 30%;
	height: auto;
	margin-bottom: 70px;
}

.imgAlbum{
	width: 100%;
	border-radius: 10px;
	margin-bottom: 15px;
	transform: scale(1.0);
	transition: transform 1s;
}

.imgAlbum:hover{
	transform: scale(1.05);
	transition: transform 1s;
}

.table{
	background-color: #e2dad8;
	width: 100%;
	color: #363433;
	border-color: #363433;
	font-size: 1.5rem;
	text-align: left;
	margin: 0;
}
.accordion-button:not(.collapsed) {
	color: #e2dad8;
	background-color: #4D4947;
}

.accordion-button{
	color: #e2dad8;
	background-color: #4D4947;
	font-size: 1.4rem;
	font-weight: 600;
}

.accordion-button:focus {
    z-index: 3;
    border-color: #363433;
    outline: 0;
    box-shadow: none !important;
}
.accordion {
    --bs-accordion-border-color: none !important;
}
/*========= ends music =========*/

/*=========== news ===========*/
.containerNews{
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-evenly;
}

article.newsCard div{
	width: 50%;
}
.newsCard{
	width: 45%;
	margin-bottom: 50px;
	display: flex;
}

.imgNews{
	width: 100%;
}

.textCard{
	display: block;
	padding-left: 25px;
}

.dateText{
	background-color: #e2dad8;
	font-size: 1.2rem;
	font-weight: 500;
}

.titleCardNews{
	background-color: #e2dad8;
	font-size: 1.6rem;
}

.textNews{
	background-color: #e2dad8;
	font-weight: 500;
	font-size: 1.4rem;
	text-align: justify;
}

.button{
	padding: 3px 5px;
	border: none;
	border-radius: 3px;
	background: #363433;
	color: #e2dad8;
	font-size: 1.3rem;
	cursor: pointer;
}
/*========= ends news =========*/

/*========== contact ==========*/
.contenedorContact{
	display: grid;
	grid-template-columns: 60% 40%;
	grid-template-rows: auto;
	grid-template-areas:
	"mainContact asideContact";
}

.bgMain{
	background-image: url(../img/contactBackground.jpg);
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: auto;
	padding-top: 100px;
}

.twitter{
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
	.twitter article{
		width: 90%;
	}
		.twitter h2{
			text-align: center;
			font-size: 2rem;
			font-weight: 500;
			padding: 5px;
			background: #4D4947;
			color: #e2dad8;
			border-radius: 5px;
			margin-bottom: 5px;
		}
	

.youtube{
	width: 100%;
	margin-top: 15px;
	margin-bottom: 100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
	.youtube article{
		width: 90%;
		height: auto;
	}
		.youtube h2{
			text-align: center;
			font-size: 2rem;
			font-weight: 500;
			padding: 5px;
			background: #4D4947;
			color: #e2dad8;
			border-radius: 5px;
			margin-bottom: 5px;
		}
		.youtube div{
			padding: 8px 0;
			width: 100%;
			text-align: center;
			background: #363433;
			border-radius: 5px;
			margin-bottom: 3px;
			
		}
			.youtube div a{
				text-decoration-line: none;
				font-size: 1.2rem;
				color: #e2dad8;
			}

.containerContact{
	padding-left: 30px;
	width: 63%;
}
.titleContact{
	font-size: 3rem;
	font-weight: 600;
}

.textContact{
	font-size: 1.8rem;
	border-bottom-color: #363433;
	line-height: 2rem;
}

.btn-brown{
	background: #e2dad8;
	color: #363433;
}

.form-check-input{
    background-color: #e2dad8;
    border-color: #e2dad8;
}
	.form-check-input:checked {
	    background-color: #4D4947;
	    border-color: #4D4947;
	}

.form-check-input:focus {
    border-color: #4D4947;
    box-shadow: none;
}

.mx-3{
	margin-left: 0!important;
	margin-right: 0!important;
}

.contactFooter{
	position: relative;
}
/*======= ends contact =======*/

/*========== footer ==========*/
.sizeFooter{
	width: 70%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.cactusFooter{
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: center;
	margin-top: 10px;
}

.cactuslogo{
	height: 50px;
	padding-left: 10px;
}

.socialNetworks{
	width: 100%;
	height: 25px;
	display: flex;
	justify-content: center;
	margin-top: 10px;
}
	.socialNetworks a{
		margin-left: 25px;
		margin-right: 25px;
	}

.social{
	height: 25px;
}

.newsletter{
	width: 50%;
	font-size: 1.2rem;
	color: #e2dad8;
	text-align: center;
	line-height: 2.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 10px;
}
	.newsletter input{
		font-size: 1.4rem;
		text-align: center;
		color: #e2dad8;
		background-color: transparent;
		border: none;
	}
		.newsletter input::placeholder{
			color: #e2dad8;
		}
		.newsletter input:hover{
			background: #4D4947;
		}
	.newsletter button{
		background: transparent;
		color: #e2dad8;
		font-size: 1.2rem;
		border: none;
	}

.footertext{
	width: 100%;
	color: #e2dad8;
	text-align: center;
	font-size: 1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}
/*======= ends footer =======*/

/*====== media queries nav ======*/
@media (max-width: 1200px){
	.list{
		width: 50%;
	}
}

@media (max-width: 992px){
	.list{
		margin-top: 10px;
		flex-direction: column;
	}
		nav ul li a{
		font-size: 1.8rem;
	}
}
@media (min-width: 992px){
	.navbar-expand-lg .navbar-collapse {
    	justify-content: flex-end;
	}
}
/*====== media queries footer ======*/
@media (max-width: 1024px){
	.sizeFooter{
		width: 90%;
	}
}

@media (max-width: 768px){
	.sizeFooter{
		width: 95%;
	}
}

@media (max-width: 600px){
	.cactusFooter{
		height: 45px;
	}
	.cactuslogo{;
		height: 45px;
	}
	.newsletter{
		width: 100%;
	}
	.socialNetworks{
		width: 100%;
	}
	.social{
		width: 25px;
		height: 25px;
	}
}

@media (max-width: 480px){
	.socialNetworks a{
		margin: 0;
	}
	.socialNetworks{
		justify-content: space-evenly;
	}
}
/*====== media queries home ======*/
@media (max-width: 1200px){
	#imgHome{
		width: 100%;
		height: 100vh;
		background-image: url(../img/CactusJackImagenHero.jpeg);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		display: flex;
		justify-content: center;
	}
	#mainHome{
		width: 80%;
		margin-bottom: 20px;
	}

	.bgHome{
		height: auto;
		flex-wrap: wrap;
		padding: 0;
		background-image: none;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.containerText{
		justify-content: center;
		width: 100%;
	}

	.tour{
		width: 80%;
		height: auto;
		margin-bottom: 50px;
	}

	.textHistory{
		text-align: center;
	}

	.btn-history{
		width: 100%;
	}
	.offcanvas.offcanvas-start {
		padding: 25px;
		width: 100%;
	}
	.offcanvas-body {
	    padding: 0;
	}
}

@media (max-width: 1024px){
	#mainHome{
		width: 90%;
	}
	.tour{
		width: 90%;
	}
}

@media (max-width: 992px){
	.navbar-toggler {
	    border: none;
	}
	.navbar-toggler-icon{
	    width: 3.2em;
	    height: 3.2em;
	    background-image: url(../img/burger-toggle.png);
	}
}

@media (max-width: 768px){
	#mainHome{
		width: 95%;
	}
	.tour{
		width: 95%;
	}
	.tour div{
		font-size: 1.1rem;
	}
}

@media (max-width: 600px){
	.textHistory{
		font-size: 1.5rem;
	}
	.tour div{
		font-size: 1rem;
	}
}

@media (max-width: 480px){
	.textHistory{
		font-size: 1.1rem;
	}
	.tour div{
		font-size: 0.9rem;
	}
}

/*====== media queries shop ======*/
@media (max-width: 1200px){
	.asideForm{
		width: 80%;
	}
		.asideForm b{
			width: 100%;
			font-size: 1.7rem;
		}
			.asideForm form{
				font-size: 1.5rem;
			}

.form-check .form-check-input{
	float: none;
    margin-left: 0;
}

	.shoes{
		width: 45%;
		margin: 0 0 100px 0;
	}
	.tshirt{
		width: 45%;
		margin: 0 0 100px 0;
	}

}

@media (max-width: 1024px){
	.contenedorShop{
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		grid-template-areas:
		"navShop"
		"headerShop"
		"asideShop"
		"mainShop"
		"footerShop";
	}
	.aside{
		width: 100%;
		padding-top: 50px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
		.asideForm{
			width: 90%;
			flex-direction: row;
			justify-content: space-evenly;
		}
		.asideForm b{
			font-size: 2rem;
		}
			.asideForm form{
				font-size: 1.7rem;
			}
}

@media (max-width: 600px){
	.asideForm{
		justify-content: space-between;
	}
		.asideForm b{
			width: 100%;
			font-size: 1.7rem;
		}
			.asideForm form{
				font-size: 1.5rem;
			}
	.shoes{
		width: 90%;
	}
	.tshirt{
		width: 90%;
	}
}

@media (max-width: 480px){
	.asideForm b{
		width: 100%;
		font-size: 1.5rem;
	}
		.asideForm form{
			font-size: 1.2rem;
		}
}

/*====== media queries music ======*/
@media (max-width: 1200px){
	.album{
		width: 45%;
	}
}

@media(max-width: 768px){
	.album{
		width: 85%;
		margin-bottom: 30px;
	}
}

@media(max-width: 600px){
	.table{
		font-size: 1.3rem;
	}
	.title{
		font-size: 2.6rem;
		margin-top: 25px;
		margin-bottom: 25px;
	}
}

@media(max-width: 480px){
	.table{
		font-size: 1.2rem;
	}
	.title{
		font-size: 2.2rem;
		margin-top: 20px;
		margin-bottom: 20px;
	}
}

/*====== media queries news ======*/
@media (max-width: 1200px){
	article.newsCard div{
		width: 100%;
	}

	.newsCard{
		width: 30%;
		margin-bottom: 50px;
		flex-wrap: wrap;
	}

	.imgNews{
		width: 100%;
		margin-bottom: 10px;
	}

	.textCard{
		padding-left: 0;
	}

	.textNews{
		display: none;
	}

	.button{
		margin-top: 10px;
	}
}

@media (max-width: 1024px){
	.newsCard{
		width: 45%;
	}
}

@media (max-width: 480px){
	.newsCard{
		width: 90%;
	}
}

/*===== media queries contact =====*/
@media (max-width: 1200px){
	.contenedorContact{
		grid-template-columns: 1fr;
		grid-template-areas:
		"mainContact"
		"asideContact";
	}

	#asideContact{
		display: flex;
		justify-content: center;
	}
	.twitter{
		display: none;
	}

	.youtube{
		width: 40%;
		margin-top: 100px;
	}
		.youtube article{
			width: 100%;
		}

	.containerContact{
		padding-left: 0;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.containerContact form{
		background-color: rgba(200,189,188,255);
		width: 40%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

		.containerContact form div{
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			text-align: center;
		}
			.containerContact form label,
			.containerContact form textarea{
				width: 100%;
			}
			.form-check{
				padding-left: 0;
			}
			.form-switch .form-check-input {
			    margin-left: 0;
			}

	.titleContact{
		width: 100%;
		text-align: center;
	}
	.mx-3{
		margin-left: 1rem !important;
		margin-right: 1rem !important;
	}
}

@media (max-width: 1024px){
	.youtube{
		width: 60%;
	}

	.bgMain{
		padding-top: 50px;
	}

	.containerContact form{
		width: 60%;
	}
	.titleContact{
		font-size: 2.5rem;
	}
}

@media (max-width: 768px){
	.youtube{
		width: 80%;
	}

	.containerContact form{
		width: 80%;
	}
}

@media (max-width: 600px){
	.bgMain{
		padding-top: 20px;
	}

	.youtube{
		width: 90%;
	}
		.youtube article a{
			font-size: 1rem;
		}

	.containerContact form{
		width: 90%;
	}
}

@media (max-width: 480px){
	.containerContact form{
		width: 90%;
	}
}