//contact
.contenedorContact{
	display: grid;
	grid-template-columns: 60% 40%;
	grid-template-rows: auto;
	grid-template-areas:
	"mainContact asideContact";
}
.bgMain{
	background-image: url(../img/contactBackground.jpg);
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: auto;
	padding-top: 100px;
	#asideContact{
		.twitter{
			width: 100%;
			height: auto;
			@include flex(wrap, center, normal);
			article{
				width: 90%;
				h2{
					text-align: center;
					@include texto(2rem, $regular);
					padding: 5px;
					background: map-get($map:$paleta, $key:'brown');
					color: map-get($map:$paleta, $key:'lightBeige');
					border-radius: 5px;
					margin-bottom: 5px;
				}
			}
		}
		.youtube{
			width: 100%;
			margin-top: 15px;
			margin-bottom: 100px;
			@include flex(wrap, center, normal);
			article{
				width: 90%;
				height: auto;
				h2{
					text-align: center;
					@include texto(2rem, $regular);
					padding: 5px;
					background: map-get($map:$paleta, $key:'brown');
					color: map-get($map:$paleta, $key:'lightBeige');
					border-radius: 5px;
					margin-bottom: 5px;
				}
				div{
					padding: 8px 0;
					width: 100%;
					text-align: center;
					background: map-get($map:$paleta, $key:'darkBrown');
					border-radius: 5px;
					margin-bottom: 3px;
					transition: background .5s ease-out;
					&:hover{
						background: map-get($map:$paleta, $key:'brown')
					}
					a{
						text-decoration-line: none;
						@include texto(1.2rem, $regular);
						color: map-get($map:$paleta, $key:'lightBeige');
					}
				}
			}
		}
	}
	#mainContact{
		.containerContact{
			padding-left: 30px;
			width: 63%;
			.titleContact{
				@include texto(3rem, $bold);
				color: map-get($map:$paleta, $key:'darkBrown');
			}
		}
	}	
}
.form-control{
	background-color: map-get($map:$paleta, $key:'beige');
	border: map-get($map:$paleta, $key:'beige');
	&:focus{
		background-color: map-get($map:$paleta, $key:'lightBeige');
		border: map-get($map:$paleta, $key:'lightBeige');
		box-shadow: rgba(77, 73, 71, .25);
	}
}
.form-select{
	background-color: map-get($map:$paleta, $key:'beige');
	border: none;
	@include texto(1.2rem, $regular);
}

.textContact{
	@include texto(1.8rem, $regular);
	border-bottom-color: map-get($map:$paleta, $key:'darkBrown');
	line-height: 2rem;
}
.btn-brown{
	background: map-get($map:$paleta, $key:'lightBeige');
	color: map-get($map:$paleta, $key:'darkBrown');
}
.form-check-input{
    background-color: map-get($map:$paleta, $key:'lightBeige');
    border-color: map-get($map:$paleta, $key:'lightBeige');
    &:checked {
	    background-color: map-get($map:$paleta, $key:'brown');
	    border-color: map-get($map:$paleta, $key:'brown');
	}
	&:focus {
	    border-color: map-get($map:$paleta, $key:'brown');
	    box-shadow: none;
	}
}
.mx-3{
	margin-left: 0!important;
	margin-right: 0!important;
}
.contactFooter{
	position: relative;
}