#error404{
	height: 100vh;
	@include flex(wrap, center, center);
	.errorCard{
		width: 50%;
		padding: 30px;
		background-color: map-get($map:$paleta, $key:'darkBrown');
		@include flex(wrap, center, center);
		flex-direction: row;
		.errorLogo{
			width: 20%;
			img{
				width: 100%;
			}
		}
		.errorText{
			width: 80%;
			padding-left: 30px;
			h1{
				color: map-get($map:$paleta, $key:'lightBeige');
				@include texto(2.5rem, $bold);
				letter-spacing: 0.6rem;
			}
			h2{
				margin-bottom: 10px;
				color: map-get($map:$paleta, $key:'lightBeige');
				@include texto(1.8rem, $regular);
			}
			.btn-brown{
				background: map-get($map:$paleta, $key:'lightBeige');
				color: map-get($map:$paleta, $key:'darkBrown');
				font-size: 1.3rem;
				&:hover{
					background: map-get($map:$paleta, $key:'beige');
				}
			}
		}
	}
}