//footer
footer{
	background: map-get($map:$paleta, $key:'darkBrown');
	width: 100%;
	bottom: 0;
	@include flex(wrap, center, normal);
	.sizeFooter{
		width: 70%;
		@include flex(wrap, center, normal);
		.cactusFooter{
			width: 100%;
			height: 50px;
			@include flex(nowrap, center, normal);
			margin-top: 10px;
			a .cactuslogo{
				height: 50px;
				padding-left: 10px;
			}
		}
		.newsletter{
			width: 50%;
			@include texto(1.2rem, $regular);
			color: map-get($map:$paleta, $key:'lightBeige');
			text-align: center;
			line-height: 2.5rem;
			@include flex(nowrap, center, normal);
			flex-direction: column;
			margin-top: 10px;
			input{
				@include texto(1.4rem, $regular);
				text-align: center;
				color: map-get($map:$paleta, $key:'lightBeige');
				background-color: transparent;
				border: none;
				&::placeholder{
					color: map-get($map:$paleta, $key:'lightBeige');
				}
				&:hover{
					background: map-get($map:$paleta, $key:'brown');
				}
			}
			button{
				background: transparent;
				color: map-get($map:$paleta, $key:'lightBeige');
				@include texto(1.2rem, $regular);
				border: none;
			}
		}
		.socialNetworks{
			width: 100%;
			height: 25px;
			@include flex(nowrap, center, normal);
			margin-top: 10px;
			div{
				position: relative;
				width: 25px;
				height: 25px;
				margin-left: 25px;
				margin-right: 25px;
				a{
					.social{
						width: 100%;
						height: 100%;
					}
					.facebookIcon,
					.twitterIcon,
					.youtubeIcon,
					.instagramIcon{
						position: absolute;
						width: 100%;
						height: 100%;
						top: 0;
						left: 0;
						opacity: 0;
						border-radius: 50%;
						transition: all .4s ease-in-out;
						&:hover{
							opacity: 1;
							box-shadow: 0px 0px 10px 2px #f4eeeb;
						}
					}
				}
			}	
		}
		.footertext{
			width: 100%;
			color: map-get($map:$paleta, $key:'lightBeige');
			text-align: center;
			@include texto(1rem, $regular);
			margin-top: 10px;
			margin-bottom: 10px;
		}
	}
}