//music
.container-albums{
	width: 100%;
	@include flex(wrap, space-evenly, normal);
	.album{
		width: 30%;
		height: auto;
		overflow: hidden;
		margin-bottom: 70px;
		a .imgAlbum{
			width: 100%;
			margin-bottom: 15px;
			object-fit: cover;
			transform: scale(1.0);
			transition: transform 1s;
			&:hover{
				transform: scale(1.04);
				transition: transform 1s;
			}
		}
		.accordion {
		    --bs-accordion-border-color: none !important;
		    .accordion-item{
		    	h2{
			    	.accordion-button{
						color: map-get($map:$paleta, $key:'lightBeige');
						background-color: map-get($map:$paleta, $key:'brown');
						@include texto(1.4rem, $bold);
						&:focus {
						    z-index: 3;
						    border-color: map-get($map:$paleta, $key:'darkBrown');
						    outline: 0;
						    box-shadow: none !important;
						}
						&:not(.collapsed) {
							color: map-get($map:$paleta, $key:'lightBeige');
							background-color: map-get($map:$paleta, $key:'brown');
						}
					}
				}
				.accordion-collapse div{
					.table{
						background-color: map-get($map:$paleta, $key:'lightBeige');
						width: 100%;
						color: map-get($map:$paleta, $key:'darkBrown');
						border-color: map-get($map:$paleta, $key:'darkBrown');
						@include texto(1.5rem, $regular);
						text-align: left;
						margin: 0;
					}
				}
		    }
		}
	}
}


