//nav
.navbar{
	padding: 10px 20px;
	background-color: map-get($map:$paleta, $key:'beige');
	.container-fluid{
		padding: 0;
		.logo-div{
			position: relative;
			width: 60px;
			height: 55px;
			a{
				width: 60px;
				height: 55px;
				.logo-back{
					width: 60px;
					height: 55px;
				}
				.logo-front{
					position: absolute;
					width: 60px;
					height: 55px;
					top: 0;
					left: 0;
					opacity: 0;
					transition: opacity .3s ease-in-out;
					&:hover{
						opacity: 1;
					}
				}
			}
		}
		.list{
			width: 40%;
			@include flex(nowrap, space-between, normal);
			flex-direction: row;
		}
		ul{
			font-family: 'Courier Prime', monospace;
			list-style: none;
			@include flex(nowrap, space-between, normal);
			margin-bottom: 0;
			padding-left: 0;
			li{
				transform: scale(1.0);
				transition: 1s ease-out;
				&:hover{
					transform: scale(1.05);
					transition: 1s ease-out;
				}
				a{
					color: map-get($map:$paleta, $key:'lightBrown');
					text-decoration: none;
					@include texto(2.2rem, $regular);
					&:hover{
						color: map-get($map:$paleta, $key:'darkBrown');
						@include texto(2.2rem, $bold);
					}
				}
				#home{
					color: map-get($map:$paleta, $key:'darkBrown');
					text-decoration: none;
					@include texto(2.2rem, $bold);
				}
				#shop{
					color: map-get($map:$paleta, $key:'darkBrown');
					text-decoration: none;
					@include texto(2.2rem, $bold);
				}
				#music{
					color: map-get($map:$paleta, $key:'darkBrown');
					text-decoration: none;
					@include texto(2.2rem, $bold);
				}
				#news{
					color: map-get($map:$paleta, $key:'darkBrown');
					text-decoration: none;
					@include texto(2.2rem, $bold);
				}
				#contact{
					color: map-get($map:$paleta, $key:'darkBrown');
					text-decoration: none;
					@include texto(2.2rem, $bold);
				}
			}
		}
	}
}