//news
.containerNews{
	@include flex(wrap, space-evenly, normal);
	.newsCard{
		width: 45%;
		margin-bottom: 50px;
		display: flex;
		div{
			width: 50%;
			.imgNews{
				width: 100%;
			}
		}
		.textCard{
			display: block;
			padding-left: 25px;
			.dateText{
				background-color: map-get($map:$paleta, $key:'lightBeige');
				@include texto(1.2rem, $regular);
			}
			.titleCardNews{
				background-color: map-get($map:$paleta, $key:'lightBeige');
				@include texto(1.6rem, $bold);
			}
			.textNews{
				background-color: map-get($map:$paleta, $key:'lightBeige');
				@include texto(1.4rem, $regular);
				text-align: justify;
			}
			a .button{
				padding: 3px 5px;
				border: none;
				border-radius: 3px;
				background: map-get($map:$paleta, $key:'darkBrown');
				color: map-get($map:$paleta, $key:'lightBeige');
				@include texto(1.3rem, $regular);
				cursor: pointer;
				transition: background-color .3s ease-out;
				&:hover{
					background: map-get($map:$paleta, $key:'brown')
				}
			}
		}
	}
}