//grid-shop
.contenedorShop{
	display: grid;
	grid-template-columns: 15% 85%;
	grid-template-rows: auto;
	grid-template-areas:
	"navShop navShop"
	"headerShop headerShop"
	"asideShop mainShop"
	"footerShop footerShop";
}

//aside
.aside{
	width: 100%;
	padding-top: 130px;
	@include flex(wrap, center, normal);
	.asideForm{
		width: 75%;
		display: flex;
		flex-direction: column;
		form{
			@include texto(1.7rem, $regular);
			b{
				width: 100%;
				@include texto(2rem, $bold);
			}
			.form-check .form-check-input{
			    background-color: map-get($map:$paleta, $key:'brown');
			    border-color: map-get($map:$paleta, $key:'darkBrown');
			}
		}
	}
}

//main_shoes
.containerShop{
	@include flex(wrap, space-evenly, normal);
	.shoes{
		width: 30%;
		margin: 0 10px 50px 10px;
		transform: scale(1.0);
		transition: transform 0.8s;
		&:hover{
			transform: scale(1.02);
			transition: transform 0.8s;
		}
		a .imgShoes{
			display: block;
			width: 100%;
			border-top-right-radius: 15px;
			border-top-left-radius: 15px;
		}
	}
}
//main_t-shirts
.containerTshirt{
	@extend .containerShop;
	.tshirt{
		@extend .shoes;
		margin: 0 10px 100px 10px;
		a .imgTshirt{
			@extend .imgShoes;
		}
	}
}
.backgroundText{
	background: map-get($map:$paleta, $key:'darkBrown');
	padding: 10px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	.titleCard{
		@include texto(2.3rem, $regular);
		color: map-get($map:$paleta, $key:'lightBeige');
	}
	.subtitle{
		@include texto(1.7rem, $regular);
		color: map-get($map:$paleta, $key:'beige');
	}
	.price{
		padding-top: 10px;
		@include texto(2rem, $regular);
		color: map-get($map:$paleta, $key:'lightBeige');
	}
}