<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Contact | Cactus Jack</title>
	<link rel="shortcut icon" href="../img/CactusJack-favicon.png">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
	<link rel="stylesheet" href="../css/style.css"> 
</head>
<body>
	<nav id="navContact" class="navbar navbar-expand-lg">
	  <div class="container-fluid">
	  	<div class="logo-div">
		    <a href="../index.html">
				<img class="logo-back" src="../img/CactusJack-Logo.png" alt="logo-nav">
				<img class="logo-front" src="../img/CactusJack-Logo2.png" alt="logo-hover">
			</a>
		</div>
	    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="navbarSupportedContent">
	      <ul class="list">
	        <li class="nav-item">
				<a href="../index.html">HOME</a>
			</li>
			<li class="nav-item">
				<a href="shop.html">SHOP</a>
			</li>
			<li class="nav-item">
				<a href="music.html">MUSIC</a>
			</li>
			<li class="nav-item">
				<a href="news.html">NEWS</a>
			</li>
			<li class="nav-item">
				<a href="contact.html">CONTACT</a>
			</li>
	      </ul>
	    </div>
	  </div>
	</nav>
	<!-- ends nav -->
	<div class="contenedorContact bgMain">
		<aside id="asideContact">
			<section class="twitter">
				<article>
					<h2>TWITTER FEED</h2>
					<a class="twitter-timeline" data-height="400" data-theme="dark" href="https://twitter.com/trvisXX?ref_src=twsrc%5Etfw">Tweets by trvisXX</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
				</article>
			</section>
			
			<section class="youtube">	
				<article>
					<h2>RECENT POSTS</h2>
					<div>
						<a href="https://www.youtube.com/watch?v=7Q-WGjqpIvY" target="_blank">Travis Scott - MAFIA (2022 Billboard Music Awards)</a>
					</div>
				</article>

				<article>
					<div>
						<a href="https://www.youtube.com/watch?v=KPz33BLkvho" target="_blank">Travis Scott - ESCAPE PLAN (Official Music Video)</a>
					</div>
				</article>

				<article>
					<div>
						<a href="https://www.youtube.com/watch?v=ve_iZT4Huuo" target="_blank">Travis Scott - ESCAPE PLAN (Official Audio)</a>
					</div>	
				</article>

				<article>
					<div>
						<a href="https://www.youtube.com/watch?v=89hJPNSNlFM" target="_blank">Travis Scott - MAFIA (Official Audio)</a>
					</div>	
				</article>

				<article>
					<div>
						<a href="https://www.youtube.com/watch?v=SliqG_0MElo" target="_blank">Travis Scott, HVME - Goosebumps (Remix)</a>
					</div>	
				</article>
			</section>
		</aside>
		<main id="mainContact">
			<section class="containerContact textContact">
				<h1 class="titleContact">Contact</h1>
				<form>
					<div class="mb-3">
				   	<label for="name" class="form-label">Name</label>
				   	<input type="text" class="form-control" id="name">
				  </div>
				  <div class="mb-3">
				  	<label for="email" class="form-label">Email</label>
				   	<input type="email" class="form-control" id="email" aria-describedby="emailHelp">
				 	</div>
				  <div class="mb-3">
						<label for="message" class="form-label">Message</label>
						<textarea class="form-control" id="message" rows="3"></textarea>
				  </div>
				  <select class="mb-3 form-select" aria-label="Default select example">
						<option selected>United States</option>
						<option value="Another country">Another country</option>
				  </select>
			   	<div class="mb-3 form-check form-switch">
			   		<label class="form-check-label" for="flexSwitchCheckChecked">Do you want to receive the latest news from Cactus Jack?</label>
					  <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
					</div>
				  <button type="reset" class="btn btn-brown mx-3">Cancel</button>
				  <button type="submit" class="btn btn-brown mx-3">Submit</button>
				</form>
			</section>
		</main>
	</div>	
	<!-- ends main -->
	<footer id="footerContact" class="contactFooter">
		<div class="sizeFooter">
			<div class="cactusFooter">
				<a href="index.html">
					<img src="../img/CactusJackFooter.png" alt="logo-footer" class="cactuslogo">
				</a>
			</div>

			<form class="newsletter">
				<input type="email" id="email" placeholder="ENTER EMAIL FOR UPDATES">
				<button type="submit">SUBMIT</button>
			</form>
			<div class="socialNetworks">
				<a href="https://www.facebook.com/travisscottlaflame" target="_blank">
					<img src="../img/facebook-icon.png" alt="facebook" class="social">
				</a>

				<a href="https://twitter.com/trvisXX" target="_blank">
					<img src="../img/twitter-icon.png" alt="twitter" class="social">
				</a>

				<a href="https://www.youtube.com/channel/UCtxdfwb9wfkoGocVUAJ-Bmg" target="_blank" >
					<img src="../img/youtube-icon.png" alt="youtube" class="social">
				</a>

				<a href="https://www.instagram.com/cactusjack/?hl=es" target="_blank">
					<img src="../img/instagram-icon.png" alt="instagram" class="social">
				</a>
			</div>
			<p class="footertext">© Cactus Jack, 2022. All rights reserved.</p>
		</div>
	</footer>
	<!-- ends footer -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>