<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Error 404 | Cactus Jack</title>
	<link rel="shortcut icon" href="../img/CactusJack-favicon.png">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
	<link rel="stylesheet" href="../css/main.css">

</head>
<body>
	<nav class="navbar navbar-expand-lg">
	  <div class="container-fluid">
	  	<div class="logo-div">
		    <a href="../index.html">
				<img class="logo-back" src="../img/CactusJack-Logo.png" alt="Logo de Cactus Jack">
				<img class="logo-front" src="../img/CactusJack-Logo2.png">
			</a>
		</div>
	    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="navbarSupportedContent">
	      <ul class="list">
	        <li class="nav-item">
				<a href="../index.html">HOME</a>
			</li>
			<li class="nav-item">
				<a href="shop.html">SHOP</a>
			</li>
			<li class="nav-item">
				<a href="music.html">MUSIC</a>
			</li>
			<li class="nav-item">
				<a href="news.html">NEWS</a>
			</li>
			<li class="nav-item">
				<a href="contact.html">CONTACT</a>
			</li>
	      </ul>
	    </div>
	  </div>
	</nav>

	<main id="error404" class="background">
		<div class="errorCard">
			<div class="errorLogo">
				<img src="../img/CactusJackError.png">
			</div>
			<div class="errorText">
				<h1>ERROR 404</h1>
				<h2>The page you are trying to request is not on the server (Error 404).</h2>
				<a href="../index.html">
					<button class="btn btn-brown mx-3">Return to homepage</button>
				</a>
			</div>
		</div>
	</main>

	<footer>
		<div class="sizeFooter">
			<div class="cactusFooter">
				<a href="../index.html">
					<img src="../img/CactusJackFooter.png" alt="Logo de Cactus Jack footer" class="cactuslogo">
				</a>
			</div>

			<form class="newsletter">
				<input type="email" id="email" placeholder="ENTER EMAIL FOR UPDATES">
				<button type="submit">SUBMIT</button>
			</form>
			<div class="socialNetworks">
				<div>
					<a href="https://www.facebook.com/travisscottlaflame" target="_blank">
						<img src="../img/facebook-icon.png" alt="Logo de Facebook" class="social">
						<img src="../img/facebook-icon2.png" alt="Logo de Facebook2" class="facebookIcon">
					</a>
				</div>

				<div>
					<a href="https://twitter.com/trvisXX" target="_blank">
						<img src="../img/twitter-icon.png" alt="Logo de Twitter" class="social">
						<img src="../img/twitter-icon2.png" alt="Logo de Twitter2" class="twitterIcon">
					</a>
				</div>

				<div>
					<a href="https://www.youtube.com/channel/UCtxdfwb9wfkoGocVUAJ-Bmg" target="_blank" >
						<img src="../img/youtube-icon.png" alt="Logo de Youtube" class="social">
						<img src="../img/youtube-icon2.png" alt="Logo de Youtube2" class="youtubeIcon">
					</a>
				</div>

				<div>
					<a href="https://www.instagram.com/cactusjack/?hl=es" target="_blank">
						<img src="../img/instagram-icon.png" alt="Logo de Instagram" class="social">
						<img src="../img/instagram-icon2.png" alt="Logo de Instagram2" class="instagramIcon">
					</a>
				</div>
			</div>
			<p class="footertext">© Cactus Jack, 2022. All rights reserved.</p>
		</div>
	</footer>
	<!-- ends footer -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>	
</body>
</html>