<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>News | Cactus Jack</title>
	<link rel="shortcut icon" href="../img/CactusJack-favicon.png">
	<link rel="stylesheet" href="../css/style.css">
</head>
<body>
	<nav>
		<div class="containerLogo">
			<a href="index.html"> 
				<img src="../img/CactusJack-Logo.png" alt="logo-nav">
			</a>
		</div>
		<div class="list">
			<ul>
				<li>
					<a href="../index.html">HOME</a>
				</li>
				<li>
					<a href="shop.html">SHOP</a>
				</li>
				<li>
					<a href="music.html">MUSIC</a>
				</li>
				<li>
					<a href="news.html">NEWS</a>
				</li>
				<li>
					<a href="contact.html">CONTACT</a>
				</li>
			</ul>
		</div>
	</nav>
	<!-- ends nav -->
	<header>
		<picture>
			<source media="(min-width:1024px)" srcset="../img/newsHero.jpg">
			<source media="(min-width:768px)" srcset="../img/newsHero1024.jpg">
			<source media="(min-width:0px)" srcset="../img/newsHero768.jpg">
			<img src="img/CactusJackImagenHero.jpeg" alt="imagenHero" style="width:100%;">
		</picture>
	</header>
		<!-- ends header -->
	<main>
		<h1 class="title">NEWS</h1>
		<div class="background">
			<section class="containerNews">
				<article class="newsCard">
					<div>
						<img src="../img/cactusnews1.jpg" alt="imagen 1" class="imgNews">
					</div>
					<div class="textCard">
						<h4 class="dateText">JUN 25, 2021</h4>
						<h2 class="titleCardNews">DIOR DEBUTS FULL TRAVIS SCOTT COLLABORATION AT PARIS FASHION WEEK</h2>
						<h3 class="textNews">Anticipation for Dior‘s Summer 2022 menswear show has been building since the house announced plans for a blockbuster Travis Scott collaboration.</h3>
						<a href="https://hypebeast.com/2021/6/dior-travis-scott-cactus-jack-summer-2022-kim-jones-details" target="_blank">
						<button class="button">read more</button>
						</a>
					</div>
				</article>

				<article class="newsCard">
					<div>
						<img src="../img/cactusnews2.jpg" alt="imagen 2" class="imgNews">
					</div>
					<div class="textCard">
						<h4 class="dateText">APR 24, 2020</h4>
						<h2 class="titleCardNews">TRAVIS SCOTT'S 'FORTNITE' ASTRONOMICAL TOUR DREW 12.3 MILLION CONCURRENT VIEWERS</h2>
						<h3 class="textNews">Travis Scott‘s opening Astronomical Tour in Fortnite broke records and drew in the biggest live audience in the game’s history. Over 12.3 million concurrent players participated.</h3>
						<a href="https://hypebeast.com/2020/4/travis-scott-fortnite-astronomical-12-3-million-view" target="_blank">
						<button class="button">read more</button>
						</a>
					</div>
				</article>

				<article class="newsCard">
					<div>
						<img src="../img/cactusnews3.jpg" alt="imagen 3" class="imgNews">
					</div>
					<div class="textCard">
						<h4 class="dateText">NOV 9, 2020</h4>
						<h2 class="titleCardNews">TRAVIS SCOTT'S MCDONALD'S ACTION FIGURE IS NOW RESELLING FOR $55K USD</h2>
						<h3 class="textNews">The super-limited Travis Scott action figures from the commercial for the McDonald’s Cactus Jack Meal collaboration are now reselling for $55,000 USD.</h3>
						<a href="https://hypebeast.com/2020/11/travis-scott-mcdonalds-action-figure-reselling-55k-usd-cactus-jack-meal-info" target="_blank">
						<button class="button">read more</button>
						</a>
					</div>
				</article>

				<article class="newsCard">
					<div>
						<img src="../img/cactusnews4.jpg" alt="imagen 4" class="imgNews">
					</div>
					<div class="textCard">
						<h4 class="dateText">JUN 23, 2021</h4>
						<h2 class="titleCardNews">RAFFLE WINNERS NOW RECEIVING TRAVIS SCOTT'S SONY PLAYSTATION X NIKE DUNK LOWS</h2>
						<h3 class="textNews">Part of a raffle launched all the way back in November of last year, winners are now receiving Travis Scott‘s Sony PlayStation x Nike Dunk Low.</h3>
						<a href="https://hypebeast.com/2021/6/raffle-winners-receiving-travis-scott-sony-playstation-nike-dunk-low-box-photos" target="_blank">
						<button class="button">read more</button>
						</a>
					</div>
				</article>

				<article class="newsCard">
					<div>
						<img src="../img/cactusnews5.jpg" alt="imagen 5" class="imgNews">
					</div>
					<div class="textCard">
						<h4 class="dateText">NOV 15, 2019</h4>
						<h2 class="titleCardNews">A CLOSER LOOK AT THE TRAVIS SCOTT X NIKE AIR FORCE 1 "CACTUS JACK"</h2>
						<h3 class="textNews">Travis Scott and Nike‘s new Air Force 1 “Cactus Jack” is set to debut this weekend and ahead of its highly-anticipated arrival, HYPEBEAST brings you a close-up look at its patchwork styling. </h3>
						<a href="https://hypebeast.com/2019/11/travis-scott-nike-air-force-1-cactus-jack-cn2405-900-closer-look" target="_blank">
						<button class="button">read more</button>
						</a>
					</div>
				</article>

				<article class="newsCard">
					<div>
						<img src="../img/cactusnews6.jpg" alt="imagen 6" class="imgNews">
					</div>
					<div class="textCard">
						<h4 class="dateText">APR 27, 2021</h4>
						<h2 class="titleCardNews">AN OFFICIAL LOOK AT TRAVIS SCOTT'S "BRITISH KHAKI" AIR JORDAN 6 COLLABORATION</h2>
						<h3 class="textNews">After an early look surfaced earlier this month, an official look at the Travis Scott x Air Jordan 6 “British Khaki” has now been released.</h3>
						<a href="https://hypebeast.com/2021/4/travis-scott-air-jordan-6-british-khaki-release-details" target="_blank">
						<button class="button">read more</button>
						</a>
					</div>
				</article>
			</section>
		</div>
	</main>
	<!-- ends main -->
	<footer>
		<div class="sizeFooter">
			<div class="cactusFooter">
				<a href="../index.html">
					<img src="../img/CactusJackFooter.png" alt="logo-footer" class="cactuslogo">
				</a>
			</div>
			<div class="socialNetworks">
				<a href="https://www.facebook.com/travisscottlaflame" target="_blank">
					<img src="../img/facebook-icon.png" alt="facebook" class="social">
				</a>

				<a href="https://twitter.com/trvisXX" target="_blank">
					<img src="../img/twitter-icon.png" alt="twitter" class="social">
				</a>

				<a href="https://www.youtube.com/channel/UCtxdfwb9wfkoGocVUAJ-Bmg" target="_blank" >
					<img src="../img/youtube-icon.png" alt="youtube" class="social">
				</a>

				<a href="https://www.instagram.com/cactusjack/?hl=es" target="_blank">
					<img src="../img/instagram-icon.png" alt="instagram" class="social">
				</a>
			</div>
			
			<form action="envio.php" class="newsletter">
				<fieldset class="form">
					<legend>Newsletter</legend>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.Nam officia quas exercitationem cum.</p>
					<label for="email">Suscribe</label>
					<input type="email" id="email" placeholder="cactusjack@gmail.com">
					<input type="reset" value="Submit">
					<!-- le puse "reset" para que no de error de envio -->
				</fieldset>
			</form>
			<p class="footertext">© Cactus Jack, 2022. All rights reserved.</p>
		</div>
	</footer>
	<!-- ends footer -->
</body>
</html>