<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Shop | Cactus Jack</title>
	<link rel="shortcut icon" href="../img/CactusJack-favicon.png">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
	<link rel="stylesheet" href="../css/style.css">
</head>
<body class="contenedorShop">
	<nav id="navShop" class="navbar navbar-expand-lg">
	  <div class="container-fluid">
	  	<div class="logo-div">
		    <a href="../index.html">
				<img class="logo-back" src="../img/CactusJack-Logo.png" alt="logo-nav">
				<img class="logo-front" src="../img/CactusJack-Logo2.png" alt="logo-hover">
			</a>
		</div>
	    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="navbarSupportedContent">
	      <ul class="list">
	        <li class="nav-item">
				<a href="../index.html">HOME</a>
			</li>
			<li class="nav-item">
				<a href="shop.html">SHOP</a>
			</li>
			<li class="nav-item">
				<a href="music.html">MUSIC</a>
			</li>
			<li class="nav-item">
				<a href="news.html">NEWS</a>
			</li>
			<li class="nav-item">
				<a href="contact.html">CONTACT</a>
			</li>
	      </ul>
	    </div>
	  </div>
	</nav>
	<!-- ends nav -->
	<header id="headerShop">
		<div style="position:relative;padding-bottom:56.25%;height:0;overflow:hidden;">
			<iframe style="width:100%;height:100%;position:absolute;left:0px;top:0px;overflow:hidden" frameborder="0" type="text/html" src="https://www.dailymotion.com/embed/video/x749t3j" width="100%" height="100%" allowfullscreen ></iframe>
		</div>
	</header>
	<!-- ends header -->
	<aside id="asideShop" class="aside">
		<div class="asideForm">
			<form>
			<b>Gender</b>
				<div class="form-check-shop">
				  <input class="form-check-input-shop" type="checkbox" value="" id="flexCheckDefault">
				  <label class="form-check-label" for="flexCheckDefault">
				    Men
				  </label>
				</div>
				<div class="form-check-shop">
				  <input class="form-check-input-shop" type="checkbox" value="" id="flexCheckDefault2">
				  <label class="form-check-label" for="flexCheckDefault2">
				    Women
				  </label>
				</div>
				<div class="form-check-shop">
				  <input class="form-check-input-shop" type="checkbox" value="" id="flexCheckDefault3">
				  <label class="form-check-label" for="flexCheckDefault3">
				    Unisex
				  </label>
				</div>
			</form>
			
			<form>
			<b>Brand</b>
				<div class="form-check-shop">
				  <input class="form-check-input-shop" type="checkbox" value="" id="flexCheckDefault4">
				  <label class="form-check-label" for="flexCheckDefault4">
				    Jordan
				  </label>
				</div>
				<div class="form-check-shop">
				  <input class="form-check-input-shop" type="checkbox" value="" id="flexCheckDefault5">
				  <label class="form-check-label" for="flexCheckDefault5">
				    Nike
				  </label>
				</div>
				<div class="form-check-shop">
				  <input class="form-check-input-shop" type="checkbox" value="" id="flexCheckDefault6">
				  <label class="form-check-label" for="flexCheckDefault6">
				    Nike SB
				  </label>
				</div>
			</form>
			
			<form>
			<b>Price</b>
				<div class="form-check">
				  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault7">
				  <label class="form-check-label" for="flexCheckDefault7">
				    $0-$200
				  </label>
				</div>
				<div class="form-check">
				  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault8">
				  <label class="form-check-label" for="flexCheckDefault8">
				    $200-$500
				  </label>
				</div>
				<div class="form-check">
				  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault9">
				  <label class="form-check-label" for="flexCheckDefault9">
				    $500-$1000
				  </label>
				</div>
			</form>
		</div>	
	</aside>
	<main id="mainShop">
		<h1 class="title">SHOES</h1>
		<div class="background">
			<section class="containerShop">
				<article class="shoes">
					<a href="https://stockx.com/nike-sb-dunk-low-travis-scott" target="_blank">
						<img src="../img/shop1.jpg" alt="imagenshop" class="imgShoes">
					</a>
					<div class="backgroundText">
						<h2 class="titleCard">Nike SB Dunk Low</h2>
						<h3 class="subtitle">Travis Scott</h3>
						<h4 class="subtitle">Size 9.5 US</h4>
						<p class="price">$2.062,00</p>
					</div>	
				</article>

				<article class="shoes">
					<a href="https://stockx.com/nike-air-trainer-1-sp-travis-scott-wheat" target="_blank">
						<img src="../img/shop2.jpg" alt="imagenshop" class="imgShoes">
					</a>
					<div class="backgroundText">
						<h2 class="titleCard">Nike Air Trainer 1 SP</h2>
						<h3 class="subtitle">Travis Scott</h3>
						<h4 class="subtitle">Size 9.5 US</h4>
						<p class="price">$167,00</p>
					</div>
				</article>

				<article class="shoes">
					<a href="https://stockx.com/nike-dunk-low-travis-scott-x-playstation" target="_blank">
						<img src="../img/shop3.jpg" alt="imagenshop" class="imgShoes">
					</a>
					<div class="backgroundText">
						<h2 class="titleCard">Nike Dunk Low</h2>
						<h3 class="subtitle">Travis Scott x Playstation</h3>
						<h4 class="subtitle">Size 9.5 US</h4>
						<p class="price">$120.000,00</p>
					</div>
				</article>

				<article class="shoes">
					<a href="https://stockx.com/air-jordan-1-retro-high-travis-scott" target="_blank">
						<img src="../img/shop4.jpg" alt="imagenshop" class="imgShoes">
					</a>
					<div class="backgroundText">
						<h2 class="titleCard">Jordan 1 Retro High</h2>
						<h3 class="subtitle">Travis Scott</h3>
						<h4 class="subtitle">Size 9.5 US</h4>
						<p class="price">$1.750,00</p>
					</div>	
				</article>

				<article class="shoes">
					<a href="https://stockx.com/nike-air-max-1-travis-scott-baroque-brown" target="_blank">
						<img src="../img/shop5.jpg" alt="imagenshop" class="imgShoes">
					</a>
					<div class="backgroundText">
						<h2 class="titleCard">Nike Air Max 1</h2>
						<h3 class="subtitle">Travis Scott Cactus Jack Baroque Brown</h3>
						<h4 class="subtitle">Size 9.5 US</h4>
						<p class="price">$475,00</p>
					</div>
				</article>
		
				<article class="shoes">
					<a href="https://stockx.com/air-jordan-4-retro-travis-scott-cactus-jack" target="_blank">
						<img src="../img/shop6.jpg" alt="imagenshop" class="imgShoes">
					</a>
					<div class="backgroundText">
						<h2 class="titleCard">Jordan 4 Retro</h2>
						<h3 class="subtitle">Travis Scott Cactus Jack</h3>
						<h4 class="subtitle">Size 9.5 US</h4>
						<p class="price">$938,00</p>
					</div>	
				</article>
			</section>	
			<div>
				<h1 class=" title">T-shirts</h1>
			</div>
			<section class="containerTshirt">
				<article class="tshirt">
					<a href="https://stockx.com/travis-scott-x-mcdonalds-cactus-pack-vintage-promo-t-shirt-brown" target="_blank">
						<img src="../img/shop7.jpg" alt="imagenshop" class="imgTshirt ">
					</a>
					<div class="backgroundText">
						<h2 class="titleCard">Brown - Promo T-shirt</h2>
						<h3 class="subtitle">Travis Scott x McDonald's</h3>
						<h4 class="subtitle">Size M US</h4>
						<p class="price">$150,00</p>
					</div>	
				</article>

				<article class="tshirt">
					<a href="https://stockx.com/travis-scott-x-mcdonalds-cactus-pack-vintage-bootleg-t-shirt-multi" target="_blank">
						<img src="../img/shop8.jpg" alt="imagenshop" class="imgTshirt">
					</a>
					<div class="backgroundText">
						<h2 class="titleCard">Multi - Bootleg T-shirt</h2>
						<h3 class="subtitle">Travis Scott x McDonald's</h3>
						<h4 class="subtitle">Size M US</h4>
						<p class="price">$109,00</p>
					</div>	
				</article>

				<article class="tshirt">
					<a href="https://stockx.com/travis-scott-x-mcdonalds-jack-smile-ii-t-shirt-multi" target="_blank">
						<img src="../img/shop9.jpg" alt="imagenshop" class="imgTshirt">
					</a>
					<div class="backgroundText">
						<h2 class="titleCard">Berry - Jack Smile II T-shirt</h2>
						<h3 class="subtitle">Travis Scott x McDonald's</h3>
						<h4 class="subtitle">Size M US</h4>
						<p class="price">$77,00</p>
					</div>
				</article>
			</section>
		</div>	
	</main>
	<!-- ends main -->
	<footer id="footerShop">
		<div class="sizeFooter">
			<div class="cactusFooter">
				<a href="index.html">
					<img src="../img/CactusJackFooter.png" alt="logo-footer" class="cactuslogo">
				</a>
			</div>

			<form class="newsletter">
				<input type="email" id="email" placeholder="ENTER EMAIL FOR UPDATES">
				<button type="submit">SUBMIT</button>
			</form>
			<div class="socialNetworks">
				<a href="https://www.facebook.com/travisscottlaflame" target="_blank">
					<img src="../img/facebook-icon.png" alt="facebook" class="social">
				</a>

				<a href="https://twitter.com/trvisXX" target="_blank">
					<img src="../img/twitter-icon.png" alt="twitter" class="social">
				</a>

				<a href="https://www.youtube.com/channel/UCtxdfwb9wfkoGocVUAJ-Bmg" target="_blank" >
					<img src="../img/youtube-icon.png" alt="youtube" class="social">
				</a>

				<a href="https://www.instagram.com/cactusjack/?hl=es" target="_blank">
					<img src="../img/instagram-icon.png" alt="instagram" class="social">
				</a>
			</div>
			<p class="footertext">© Cactus Jack, 2022. All rights reserved.</p>
		</div>
	</footer>
	<!-- ends footer -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>