<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Shop | Cactus Jack</title>
	<link rel="shortcut icon" href="../img/CactusJack-favicon.png">
	<link rel="stylesheet" href="../css/style.css">
</head>
<body class="contenedorShop">
	<nav id="navShop">
		<div class="containerLogo">
			<a href="index.html"> 
				<img src="../img/CactusJack-Logo.png" alt="logo-nav">
			</a>
		</div>
		<div class="list">
			<ul>
				<li>
					<a href="../index.html">HOME</a>
				</li>
				<li>
					<a href="shop.html">SHOP</a>
				</li>
				<li>
					<a href="music.html">MUSIC</a>
				</li>
				<li>
					<a href="news.html">NEWS</a>
				</li>
				<li>
					<a href="contact.html">CONTACT</a>
				</li>
			</ul>
		</div>	
	</nav>
	<!-- ends nav -->
	<header id="headerShop">
		<div style="position:relative;padding-bottom:56.25%;height:0;overflow:hidden;">
			<iframe style="width:100%;height:100%;position:absolute;left:0px;top:0px;overflow:hidden" frameborder="0" type="text/html" src="https://www.dailymotion.com/embed/video/x749t3j" width="100%" height="100%" allowfullscreen ></iframe>
		</div>
	</header>
	<!-- ends header -->
	<aside id="asideShop" class="aside">
		<div class="asideForm">
			<form>
			<b>Gender</b>
				<br>
				<input type="checkbox" name="men" id="men">
				<label for="men">Men</label>
					<br>
				<input type="checkbox" name="woman" id="woman">
				<label for="woman">Woman</label>
					<br>
				<input type="checkbox" name="unisex" id="unisex">
				<label for="unisex">Unisex</label>
			</form>
			
			<form>
			<b>Brand</b>
			<br>
				<input type="checkbox" name="jordan" id="jordan">
				<label for="jordan">Jordan</label>
					<br>
				<input type="checkbox" name="nike" id="nike">
				<label for="nike">Nike</label>
					<br>
				<input type="checkbox" name="nikesb" id="nikesb">
				<label for="nikesb">Nike SB</label>
			</form>
			
			<form>
			<b>Price</b>
			<br>
				<input type="checkbox" name="200" id="200">
				<label for="200">$0-$200</label>
					<br>
				<input type="checkbox" name="500" id="500">
				<label for="500">$200-$500</label>
					<br>
				<input type="checkbox" name="1000" id="1000">
				<label for="1000">$500-$1000</label>
			</form>
		</div>	
	</aside>
	<main id="mainShop">
		<h1 class="title">SHOES</h1>
		<div class="background">
			<section class="containerShop">
				<article class="shoes">
					<a href="https://stockx.com/nike-sb-dunk-low-travis-scott" target="_blank">
						<img src="../img/shop1.jpg" alt="imagenshop" class="imgShoes">
					</a>
					<div class="backgroundText">
						<h2 class="titleCard">Nike SB Dunk Low</h2>
						<h3 class="subtitle">Travis Scott</h3>
						<h4 class="subtitle">Size 9.5 US</h4>
						<p class="price">$2.062,00</p>
					</div>	
				</article>

				<article class="shoes">
					<a href="https://stockx.com/nike-air-trainer-1-sp-travis-scott-wheat" target="_blank">
						<img src="../img/shop2.jpg" alt="imagenshop" class="imgShoes">
					</a>
					<div class="backgroundText">
						<h2 class="titleCard">Nike Air Trainer 1 SP</h2>
						<h3 class="subtitle">Travis Scott</h3>
						<h4 class="subtitle">Size 9.5 US</h4>
						<p class="price">$167,00</p>
					</div>
				</article>

				<article class="shoes">
					<a href="https://stockx.com/nike-dunk-low-travis-scott-x-playstation" target="_blank">
						<img src="../img/shop3.jpg" alt="imagenshop" class="imgShoes">
					</a>
					<div class="backgroundText">
						<h2 class="titleCard">Nike Dunk Low</h2>
						<h3 class="subtitle">Travis Scott x Playstation</h3>
						<h4 class="subtitle">Size 9.5 US</h4>
						<p class="price">$120.000,00</p>
					</div>
				</article>

				<article class="shoes">
					<a href="https://stockx.com/air-jordan-1-retro-high-travis-scott" target="_blank">
						<img src="../img/shop4.jpg" alt="imagenshop" class="imgShoes">
					</a>
					<div class="backgroundText">
						<h2 class="titleCard">Jordan 1 Retro High</h2>
						<h3 class="subtitle">Travis Scott</h3>
						<h4 class="subtitle">Size 9.5 US</h4>
						<p class="price">$1.750,00</p>
					</div>	
				</article>

				<article class="shoes">
					<a href="https://stockx.com/nike-air-max-1-travis-scott-baroque-brown" target="_blank">
						<img src="../img/shop5.jpg" alt="imagenshop" class="imgShoes">
					</a>
					<div class="backgroundText">
						<h2 class="titleCard">Nike Air Max 1</h2>
						<h3 class="subtitle">Travis Scott Cactus Jack Baroque Brown</h3>
						<h4 class="subtitle">Size 9.5 US</h4>
						<p class="price">$475,00</p>
					</div>
				</article>
		
				<article class="shoes">
					<a href="https://stockx.com/air-jordan-4-retro-travis-scott-cactus-jack" target="_blank">
						<img src="../img/shop6.jpg" alt="imagenshop" class="imgShoes">
					</a>
					<div class="backgroundText">
						<h2 class="titleCard">Jordan 4 Retro</h2>
						<h3 class="subtitle">Travis Scott Cactus Jack</h3>
						<h4 class="subtitle">Size 9.5 US</h4>
						<p class="price">$938,00</p>
					</div>	
				</article>
			</section>	
			<div>
				<h1 class=" title">T-shirts</h1>
			</div>
			<section class="containerTshirt">
				<article class="tshirt">
					<a href="https://stockx.com/travis-scott-x-mcdonalds-cactus-pack-vintage-promo-t-shirt-brown" target="_blank">
						<img src="../img/shop7.jpg" alt="imagenshop" class="imgTshirt ">
					</a>
					<div class="backgroundText">
						<h2 class="titleCard">Brown - Promo T-shirt</h2>
						<h3 class="subtitle">Travis Scott x McDonald's</h3>
						<h4 class="subtitle">Size M US</h4>
						<p class="price">$150,00</p>
					</div>	
				</article>

				<article class="tshirt">
					<a href="https://stockx.com/travis-scott-x-mcdonalds-cactus-pack-vintage-bootleg-t-shirt-multi" target="_blank">
						<img src="../img/shop8.jpg" alt="imagenshop" class="imgTshirt">
					</a>
					<div class="backgroundText">
						<h2 class="titleCard">Multi - Bootleg T-shirt</h2>
						<h3 class="subtitle">Travis Scott x McDonald's</h3>
						<h4 class="subtitle">Size M US</h4>
						<p class="price">$109,00</p>
					</div>	
				</article>

				<article class="tshirt">
					<a href="https://stockx.com/travis-scott-x-mcdonalds-jack-smile-ii-t-shirt-multi" target="_blank">
						<img src="../img/shop9.jpg" alt="imagenshop" class="imgTshirt">
					</a>
					<div class="backgroundText">
						<h2 class="titleCard">Berry - Jack Smile II T-shirt</h2>
						<h3 class="subtitle">Travis Scott x McDonald's</h3>
						<h4 class="subtitle">Size M US</h4>
						<p class="price">$77,00</p>
					</div>
				</article>
			</section>
		</div>	
	</main>
	<!-- ends main -->
	<footer id="footerShop">
		<div class="sizeFooter">
			<div class="cactusFooter">
				<a href="../index.html">
					<img src="../img/CactusJackFooter.png" alt="logo-footer" class="cactuslogo">
				</a>
			</div>
			<div class="socialNetworks">
				<a href="https://www.facebook.com/travisscottlaflame" target="_blank">
					<img src="../img/facebook-icon.png" alt="facebook" class="social">
				</a>

				<a href="https://twitter.com/trvisXX" target="_blank">
					<img src="../img/twitter-icon.png" alt="twitter" class="social">
				</a>

				<a href="https://www.youtube.com/channel/UCtxdfwb9wfkoGocVUAJ-Bmg" target="_blank" >
					<img src="../img/youtube-icon.png" alt="youtube" class="social">
				</a>

				<a href="https://www.instagram.com/cactusjack/?hl=es" target="_blank">
					<img src="../img/instagram-icon.png" alt="instagram" class="social">
				</a>
			</div>
			
			<form action="envio.php" class="newsletter">
				<fieldset class="form">
					<legend>Newsletter</legend>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.Nam officia quas exercitationem cum.</p>
					<label for="email">Suscribe</label>
					<input type="email" id="email" placeholder="cactusjack@gmail.com">
					<input type="reset" value="Submit">
					<!-- le puse "reset" para que no de error de envio -->
				</fieldset>
			</form>
			<p class="footertext">© Cactus Jack, 2022. All rights reserved.</p>
		</div>
	</footer>
	<!-- ends footer -->
</body>
</html>